# needed anyway
GROQ_API_KEY="YOUR_GROQ_LLM_KEY"
GROQ_BASE_URL="https://api.groq.com/openai/v1"

# --- Database ---
# OPTION A: Local (Docker)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/grade_scale?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/grade_scale?schema=public"

# OPTION B: Cloud (Neon.tech)
# INFO SCALABILITÉ: Avec un environnement Serverless, on utilise deux URLs distinctes :
# 1. DATABASE_URL utilise un "Connection Pooler" (Transaction Mode).
# DATABASE_URL="postgresql://USER:PASSWORD@YOUR_DATABASE_HOST-pooler.region.aws.neon.tech/neondb?sslmode=require"
# 2. DIRECT_URL contourne le pooler (Session Mode).
#    Sur Neon, désactivez le Connection Pooling pour obtenir cette URL.
# DIRECT_URL="postgresql://USER:PASSWORD@YOUR_DATABASE_HOST.region.aws.neon.tech/neondb?sslmode=require"

# OPTION C: Full Cloud Azure
# database: url automaticaly handled via terraform scripts and injected to Azure Secret Vaults so not needed here
# for azure flexible postgres (define it here once and for all)
AZURE_DB_PASSWORD="YOUR_AZURE_PASSWORD_TO_YOUR_DB"

# for Github GHCR container images (to publish backend docker image to GHCR and then pull it from azure ACA)
GITHUB_USERNAME="YOUR_GITHUB_USERNAME"
# github_pat is needed to publish the image as private (if published as public, pat not needed)
GITHUB_PAT="YOUR_GITHUB_MANUALY_GENERATED_PAT"
