terraform {
  backend "azurerm" {
    resource_group_name  = "rg-gradescale-tfstate"
    storage_account_name = "<TON_STORAGE_ACCOUNT_NAME>"
    container_name       = "tfstate"
    key                  = "dev.terraform.tfstate"
  }
}
